.codingSkills {
  $codingSkillsVerticalMargin: 32px;
  margin: $codingSkillsVerticalMargin 0px;
  display: flex;
  height: calc(100vh - (#{$codingSkillsVerticalMargin} * 2));
  flex-direction: column;
}

.skillsContainer {
  margin-top: 48px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.backLink {
  @include buttonReset();
  display: flex;
  align-items: center;
}

.backText {
  @include typo-paragraph();
  color: $fl-light-gray;
  margin-left: 12px;
}

.codingSkillsTitle {
  @include typo-h2();
  margin-left: 24px;
}

.description {
  @include typo-small();
}

.codingSkillsContainer {
  @include customScrollbar();
  width: 800px;
  display: block;
  margin: auto;
  margin-top: 40px;
  overflow-y: auto;
}