//Colors
$fl-green: #A6C541;
$fl-red: #BE4157;
$fl-white: #FFFFFF;
$fl-light-gray: #C1C1C1;
$fl-gray: #797979;
$fl-dark-gray: #232323;

// Screen breakpoints
$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;

// Container width
$container-width: 1536px;