.skillsHome {
  width: 500px;
  margin: auto;
  max-width: 100%;
}

.title {
  @include typo-h1();
  margin-bottom: 40px;
}

.description {
  @include typo-paragraph();
  width: 525px;
  display: block;
  margin: auto;
  max-width: 100%;
}

.buttonsWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.codingSkillsButton {
  margin-right: 24px;
}

.softSkills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.softSkill {
  width: 33.3333%;
  text-align: center;
}

.softSkillImg {
  height: 70px;
}

.softSkillText {
  @include typo-paragraph();
  margin-top: 16px;
}