.skillGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.skillGroupTitle {
  @include typo-h3();
  color: $fl-white;
  min-width: 220px;
  max-width: 220px;
  margin-right: 40px;
}

.skillBubbles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}