.skills {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $tablet-portrait-upper-boundary) {
    height: auto;
    min-height: 100vh;
  }
}

.container {
  @include container();
}

.bracket {
  position: absolute;
  width: 150px;
  opacity: 0.3;
  transition: 600ms all ease-in-out;

  &__isOnHome {
    width: 350px;

    @media screen and (max-width: $tablet-portrait-upper-boundary) {
      width: 150px;
    }
  }

  &__open {
    top: -60px;
    right: 0px;
  }

  &__close {
    bottom: -60px;
    left: 0px;
    transform: rotate(180deg);

    @media screen and (max-width: $tablet-portrait-upper-boundary) {
      display: none;
    }
  }
}

.fallingBubble {
  position: absolute;
  top: -10%;
  opacity: 0.2;

  &__1 {
    width: 30px;
    right: 5%;
    @include fallingBubbleAnimation('fallingBubble1');
  }

  &__2 {
    left: 10%;
    width: 20px;
    height: 20px;
    background-color: $fl-red;
    border-radius: 20px;
    @include fallingBubbleAnimation('fallingBubble2');
  }
}

@media (prefers-reduced-motion) {
  .animated {
    animation-name: none;
  }
}
