.skillBubble {
  position: relative;
  cursor: pointer;
}

.skillName {
  @include typo-small();
  color: $fl-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bubble {
  width: 130px;
  height: 130px;

  & > path {
    fill: $fl-green;
  }
}